@import "./variables";
body {
  background: -moz-radial-gradient(
    circle,
    rgba(58, 0, 113, 1) 1%,
    rgba(46, 0, 91, 1) 12%,
    rgba(36, 0, 70, 1) 25%,
    rgba(25, 0, 53, 1) 42%,
    rgba(11, 0, 30, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(58, 0, 113, 1) 1%,
    rgba(46, 0, 91, 1) 12%,
    rgba(36, 0, 70, 1) 25%,
    rgba(25, 0, 53, 1) 42%,
    rgba(11, 0, 30, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(58, 0, 113, 1) 1%,
    rgba(46, 0, 91, 1) 12%,
    rgba(36, 0, 70, 1) 25%,
    rgba(25, 0, 53, 1) 42%,
    rgba(11, 0, 30, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a0071",endColorstr="#0b001e",GradientType=1);
}

/*background: rgb(58, 0, 113);
  background: -moz-radial-gradient(
    circle,
    rgba(58, 0, 113, 1) 1%,
    rgba(46, 0, 91, 1) 12%,
    rgba(36, 0, 70, 1) 25%,
    rgba(25, 0, 53, 1) 42%,
    rgba(11, 0, 30, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(58, 0, 113, 1) 1%,
    rgba(46, 0, 91, 1) 12%,
    rgba(36, 0, 70, 1) 25%,
    rgba(25, 0, 53, 1) 42%,
    rgba(11, 0, 30, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(58, 0, 113, 1) 1%,
    rgba(46, 0, 91, 1) 12%,
    rgba(36, 0, 70, 1) 25%,
    rgba(25, 0, 53, 1) 42%,
    rgba(11, 0, 30, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a0071",endColorstr="#0b001e",GradientType=1);
*/
