@import "./variables";

.masthead-subheading {
  font-weight: 300 !important;
}
.masterhead-subhead {
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
}

.masterhead-btn {
  margin: 5em 0 60px 0;
}