//Defaults
$white: #ededed;
$dark: #0b001e;
$primary: #5502a5;
$secondary: #9500fe;
$bright: #00ffbf;
$hover: #dcb7ff;
$defaultFont:"Jost";

//Buttons
$buttonBorder: #6200a7;
$buttonActiveBorderColor: $dark;
$buttonActivateBg: $primary;
$buttonHoverBorder: $primary;
$buttonBg: transparent;

//Fontawesome
$fontAwesomeColor: #232647;

//Navbar
$transparentPurple: rgba(11, 0, 30, 0.9);
$logoHeight: 2em;
$navbarHoverColor: $hover;

//Portfolio
$portfolioMouseHoverBg: rgb(149, 0, 254, 0.8);
$portfolioCaptionBg: transparent;

//Timeline

$timelineColor: $primary;
